.header {
  display: flex;
  align-items: center;
  position: relative;
  top: 50px;
  right: 50px;
}
.headerText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  border-bottom: 1px solid #000;
  padding: 1rem 0;
}
.backBtn {
  margin-top: 10px;
  margin-left: 5rem;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}
.title {
  font-size: 24px;
  font-weight: bold;
  width: max-content;
}
.pageCount {
  font-size: 20px;
}
