.ResumeFlex {
  display: flex;
  gap: 3rem;
}
.leftSide {
  min-width: 432px;
}
.username {
  font-size: 34px;
  font-weight: bold;
  color: #f93b1d;
}
.email {
  margin: 17px 0 10px 0;
  font-size: 18px;
}
.phone {
  font-size: 18px;
}

.icon {
  color: #898989;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: #f93b1d;
  margin: 34px 0 15px 0;
}
.aboutMe {
  white-space: pre-wrap;
}
.userImage {
  border-radius: 50%;
  width: 246px;
  height: 246px;
}

.position_employer {
  font-size: 18px;
  font-weight: 500;
}
.date {
  margin: 7px 0 16px 0;
  font-style: italic;
  color: #909090;
}
.underline {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #c1c1c1;
  margin: 19px 0 24px 0;
}
.description {
  white-space: pre-wrap;
  max-width: 100%;
}
.footer {
  width: 40px;
  padding-bottom: 2.75rem;
  margin-top: 5rem;
  z-index: 10;
}
.popupContainer {
  height: 167px;
  width: 427px;
  position: absolute;
  right: 70px;
  top: 53px;
  font-weight: 500;
  font-size: 28px;
  padding: 40px 32px;
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.finalResumeContainer {
  border: 1px solid black;
  margin-top: 54px;
  margin-bottom: 129px;
  height: max-content;
}
.closePopup {
  position: absolute;
  right: 8px;
  top: 14px;
}
.backBtn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin: 3rem;
  position: absolute;
}
